<div class="ticket-list">
  <button (click)="displayTicketArchived=!displayTicketArchived">
    <div *ngIf="displayTicketArchived==false">Show Archived Tickets</div>
    <div *ngIf="displayTicketArchived==true">Hide Archived Tickets</div>
  </button>
  <div class="ticket" *ngFor="let ticket of ticketList">
      <!--Inputs & Output allow communication between parent & child components.-->
      <!--More information: https://angular.io/guide/component-interaction-->
      <app-ticket *ngIf="displayTicketArchived==true || (displayTicketArchived==false && ticket.archived == false) " [ticket]="ticket" (ticketHasBeenSelected)="ticketHasBeenSelected($event)" (ticketHasBeenArchived)="ArchiveTicket($event)"></app-ticket>
  </div>
</div>
